<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet" type='text/css'>
  </head>

<body>

    <a class="homeButton" href="/">forum</a>

  <div>
    <h1>
      <span> <%=title%> </span>
    </h1>

  <p> Created by <%=user%>, <%=time%></p>
    <div class="post">
      <p><%=data%></p>
    </div>
  </div>

  <p> Replies:

  <div class="post">
    <form action="/comment" method="post">

      <input type="hidden" name="thread_id" value="<%=thread_id%>">

      

      <fieldset>
      <h3>Comment:</h3>
    <textarea rows="4" col="30" name="comment"/></textarea>
      </fieldset>
        <button type="submit">Comment</button>

<script>
        //comment
            var comment_parser = new DOMParser;
            var comment_dom = parser.parseFromString(
                "<%=comment%>",
                'text/html');
            var comment = dom.body.textContent;
            var parsedcomment = JSON.parse(comment);

            var comment_htmlElements = "";
            for (var i = 0; i < parsedcomment.length ; i++) {
            comment_htmlElements += '<div class="postTab" <h4><a style="text-decoration: none" href="/comment?id=' + parsedcomment[i]._id + '">' + '</a></h4><p> By ' + parsedcomment[i].comment.user + ' at ' + (new Date(parsedPosts[0].comment.created_at).toUTCString()) + ' </p></div>';
            }
            var comment_container = document.getElementById("comment_container");
            comment_container.innerHTML += comment_htmlElements;

</script>

<p><%=comment_data%></p>


    </form>

  </div>
  </p>

</body>

</html>
